<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.submission.movieandtvshow.favourite">

    <dist:module
        dist:instant="false"
        dist:title="@strings/title_favourites">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:supportsRtl="true"
        />

</manifest>